body{
    background-color: rgb(0, 0, 0);
    color: #bff5ff;
    padding: 10px;
    font-style: italic;
    font-family: sans-serif; 
}
.referencias{
    margin: auto;
    align-items: center;
    padding: 10px;
    border: solid 2px #00ffff;
    box-shadow: 0 0 5px 0 #00ffff;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    
    
}
.referencias .block_refer{
    align-content: center;
    align-items: center;
    
    
}
a{
    color: #bff5ff;
    text-decoration: none;
    font-weight: bold;
    padding: 10px;
    margin: 0 auto;
    font-size: 15px;
    font-size: 15px;
    
}


a:hover{
    background-color: #00ffff54;
    border-radius: 8px;
    
}

button{
    background-color: transparent;
    border: 2px solid transparent;
    height: 55px;
    width: 250px;
    margin: 0;
}

h1{
    text-align: center;
    text-justify: auto;
    padding: 10px;
    border: 2px solid #00ffff;
    box-shadow: 0 0 5px 0#00ffff;
}
.container_image{
    border: 2px solid #00ffff;
    box-shadow: 0 0 5px 0 #00ffff;
}
img{
    display: block;
    padding: 15px 15px 15px 15;
    margin: 0 auto;
    background-size: cover;
    height: 100%;
    width: 100%;
}
.paragraph{
    border:2px solid #00ffff;
    box-shadow: 0 0 5px #00ffff;
    padding: 15px;
    margin: 0 auto;
    margin-top: 20px;
}
p{
    padding: 15px;
    margin: 15px;
}
.items, .steps{
    border: 2px solid #00ffff;
    margin-top: 20px;
    box-shadow: 0 0 5px #00ffff;
}

.lista{
    padding: 30px;
    margin: 15px;
}


h3{
    padding: 15px;
    margin: 15px;
    text-align: center;
    border-bottom: 2px solid #00ffff;
}


