body{
    color: #bff5ff;
    background: black;
    padding: 10px;
    font-style: italic;
}
.container-content{
    border: 1px solid #00ffff;
    box-shadow: 0 0 5px 0 #00ffff;
    padding: 25px;
    border-radius: 8px;
    margin: 0 auto;
    position: relative;
    display: flex;
    flex-direction: column;
    
}
.title_box{
    padding: 10px;
    border: solid #00ffff;
    font-size: 100%;
    background-color: #00ffff2d;
    box-shadow: 0 0 5px 0 #00ffff;
}
.title{
    padding: 5px;
    font-size: 25px;
    font-weight: bolder;
    text-align: center;
    text-transform: uppercase;
    margin: 0 auto;
    text-shadow: 0 0 3px #bff5ff;
}


.lista{
    text-decoration: none;
    padding: 10px;
    list-style: none;
    
}
.lista .estilo_lista{
    padding: 5px;
    text-align: center;
    margin: 10px;
}

a{
    text-decoration: none; 
    color: #bff5ff;
    font-size: 20px;
    margin: 25px auto;
    font-weight: bold;
    transition: #00ffff34 0.5s;
    padding: 0 100px 0 100px;
    text-shadow: 0 0 2px #bff5ff;
}
a:hover{
    background-color: #00ffff11;
    border: 1px solid #00ffff79;
    border-radius: 8px;
}

.recetas_box{
    padding: 2%;
    border: solid;
    background-color: #00ffff2d;
    margin-top: 20px;
    color: rgb(0, 248, 248);
    box-shadow: 0 0 5px 0 #00ffff;
}
