body{
    background: black;
    padding: 10px;
    font-style: italic;
}
.title_box{
    padding: 10px;
    border: solid;
    color: rgb(107, 211, 236);
    font-size: 100%;
    background-color: rgba(145, 29, 253, 0.856);
}
.title{
    color: rgb(219, 243, 245); 
    padding: 5px;
    font-size: 100%;
    font-weight: bolder;
}

.lista{
    text-decoration: none;
    padding: 10px;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(198, 212, 214);
    
    
}
.estilo_lista{
    padding: 15px;
}

a{
    text-decoration: none; 
    color: rgb(191, 245, 255);
    font-size: 20px;
    margin: 25px;
    text-align: justify;
    font-weight: bold;
    transition: background-color 0.5s;
}
a:hover{
    background-color: rgba(74, 233, 212, 0.253);
}

.recetas_box{
    padding: 2%;
    border: solid;
    background-color: rgba(145, 29, 253, 0.856);
    margin-top: 20px;
    color: rgb(0, 248, 248);
}
